body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

body
{
    font-size: .9em;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif !important;
    color: black;
    background-color: #EEF1FA;
    margin: 0 !important;
    padding: 0px;
    background-image: url("../Content/Images/Background.jpg");
    background-repeat: repeat-x;
    border: none;
}

DIV.title
{
    padding-left: 10px;
    padding-bottom: 12px;
    padding-top: 6px;
    height: 20px;
    border: none;
    color: Black !important;
    vertical-align: middle;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 1em;
    min-width: 1200px;
    overflow: visible;
}

.blueMediumBack
{
    background-color: #1D6A81;
}

.wrapDialogBack
{
    background: #E9EEF3 !important;
}


.underline
{
    text-decoration: underline;
}

LI.paddedTop10
{
    padding-top: 10px !important;
}


.hidden
{
 display:none !important;
}

.clear
{
  clear:both;
}

.leftFloat
{
    float: left;
}

.rightFloat
{
    float: right;
}

.requiredField
{
  background-color:rosybrown;
}


.red
{
    color: #950000 !important;
}

.orangeText
{
    color: #A06B1B;
}

.grayText
{
    color: Gray;
}

.whiteText
{
    color: White;
}

.blueText
{
    color: #2e6e9e;
}

.blueBack
{
    background-color: #D5E1E3;
}

.redBack
{
    background-color: #CA0000;
}
