


header, footer, nav, section {
    display: block;
}

DIV#wrap, DIV#wrapDialog
{
    margin: 1.2em;
    margin-top: 0;
    background: #E9EEF3;
    padding: 0.7em;
    border: 8px solid #E9EEF3;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    overflow: hidden;
}

DIV#wrap
{
    min-width: 1200px;
}

DIV#wrapDialog, DIV#wrapIPad
{
    min-width: 1024px;
}

DIV#header
{
    background-color: #D6E0DF;
    border: none;
    border-bottom: 1px solid red;
    color: Black;
    margin: 1.2em;
    padding: 0 !important;
    padding-bottom: .4em;
    padding-top: .4em;
    min-width: 1200px;
}

DIV#headerDialog
{
    background-color: #D6E0DF;
    border: none;
    color: Black;
    margin: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding: 0 !important;
    padding-bottom: .4em;
    padding-top: .4em;
    min-width: 1200px;
    text-align: center;
}

DIV#footer
{
    font-size: .9em;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif !important;
    display: block;
    border: none;
    font-size: 0.9em;
    padding-top: 3.4em;
    margin: 0;
}

DIV.title
{
    padding-left: 10px;
    padding-bottom: 12px;
    padding-top: 6px;
    height: 20px;
    border: none;
    color: Black !important;
    vertical-align: middle;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 1em;
    min-width: 1200px;
    overflow: visible;
}

/*Web Grid*/
.header
{
    background-color: #E9EFF3;
    font-weight: bold !important;
    color: #333333;
}

.webgrid
{
    width: 100% !important;
    border: 0px;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    font-size: 1.0em;
}

    .webgrid td /*only data, non TH tags*/
    {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

    .webgrid a
    {
        text-decoration: underline !important;
        color: #000;
    }

.webgrid-wrapper
{
    width: 100%;
    padding: 0px;
}

.webgrid-title
{
    padding-left: 0.3em;
}

.webgrid-header
{
}

.webgrid-header th /*align the headers to data. can be overridden using !Important*/
{
        text-align: left;
}

.grid-footer
{
    color: Gray !important;
}

a.PagerLink
{
    padding-right: 6px;
    padding-left: 6px;
    color: #0C4D8D !important;
}


.webgrid-alternating-rows
{
    background-color: #F3F3F3;
    color: #000;
}

/*General JQuery button*/
.ui-button-text
{
    font-size: 0.9em !important;
}

/*Jquery Button override for a specific button class*/
.gridButtonLink
{
    font-size: 0.7em !important;
}

/*Override default css for jquery widget*/
.ui-widget
{
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 0.95em !important;
}

    .ui-widget INPUT
    {
        font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif !important;
        font-size: 0.95em !important;
    }

    .ui-widget SELECT
    {
        font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif !important;
        font-size: 0.95em !important;
    }

/*Override the opacity of overlays (for the dialogs)*/
.ui-widget-overlay
{
    opacity: .90 !important;
    filter: Alpha(Opacity=90) !important;
}


.borderCollapse
{
    border-collapse: collapse;
}

.labelRounded
{
    margin: 0;
    background: #E9EEF3;
    padding: 0.3em;
    padding-left: 1% !important;
    padding-right: 1% !important;
    border: 1px solid #7B99B7;
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    overflow: visible;
    min-height: 100%;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset
{
    border: 1px solid #C8C8C8;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.0em 0;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif !important;
}

legend
{
    font-size: 1.0em !important;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #A06B1B;
}


textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

body
{
    font-size: .9em;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif !important;
    color: black;
    background-color: #EEF1FA;
    margin: 0 !important;
    padding: 0px;
    background-image: url("../Content/Images/Background.jpg");
    background-repeat: repeat-x;
    border: none;
}

DIV.title
{
    padding-left: 10px;
    padding-bottom: 12px;
    padding-top: 6px;
    height: 20px;
    border: none;
    color: Black !important;
    vertical-align: middle;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 1em;
    min-width: 1200px;
    overflow: visible;
}

.blueMediumBack
{
    background-color: #1D6A81;
}

.wrapDialogBack
{
    background: #E9EEF3 !important;
}

.cursorPointer
{
    cursor: pointer;
}

.underline
{
    text-decoration: underline;
}


.bold
{
    font-weight: bold;
}

.boldNormal
{
    font-weight: normal;
}

.italic
{
    font-style: italic;
}

LI.paddedTop10
{
    padding-top: 10px !important;
}


.hidden
{
 display:none !important;
}

.clear
{
  clear:both;
}

.leftFloat
{
    float: left;
}

.rightFloat
{
    float: right;
}

.requiredField
{
  background-color:#FFFF99;
}


.red
{
    color: #950000 !important;
}

.orangeText
{
    color: #A06B1B;
}

.grayText
{
    color: Gray;
}

.whiteText
{
    color: White;
}

.blueText
{
    color: #2e6e9e;
}

.blueBack
{
    background-color: #D5E1E3;
}

.redBack
{
    background-color: #CA0000;
}

.paddingBottom15
{
  padding-bottom: 15px;
}

 .longField
        {
            width: 300px;
        }

.shortField
{
                width: 200px;
}

/* Styles screener
-----------------------------------------------------------*/

.whiteBack {
    background-color: White !important;
}

.listOfCheckBoxes {
    height: 300px !important;
    border: 1px Solid Black!important;
    background: White !important;
    overflow-x: hidden !important;
}

.padRight40 {
    padding-right: 40px !important;
}

.editor-label-block {
    margin: 0.1em 0 0 0;
    display: block; /*If applied to a span, will render like a div - as a block, not inline, keeping margin/padding values.*/
}

.inline-block {
    display: inline-block;
}





