@using CaraEntites;
@using ViewModels;
@model List<CertificateMailing>
@{
    ViewBag.Title = "Contacts";
    Html.RenderAction("_WorkFlow", "NavMenu", new { StepId = "Contacts" });
}
<script>
    $(document).ready(function () {
        var frms = $('form');
        frms.each(function () {
            var ser = $(this).serialize();
            _beforeChanges.push(ser);
        });

    }); // end document.ready

    $(function () {
         @{ if (ViewBag.Message != null)
            {
            
                       @:$.growlUI('', '@ViewBag.Message');
                                    }
            };

    })
</script>
<!DOCTYPE html>

<html>
<head>
    <title>CARA Online Application</title>
    <style>
        .longField {
            width: 500px;
            margin-right: 15px;
        }

        .yellowBack {
            background-color: #FBFAC8 !important;
        }
    </style>
    <script>
        function AddCertificateMailing() {
            $(".hidden").removeClass("hidden");
            $("#AddMailing").attr("disabled", true);
        }
    </script>
</head>
<body>
    <br />
    <div>
        @foreach (CertificateMailing cert in Model)
        {
            Html.RenderPartial("_CertificateMailingRecipient", cert);
        }
        <div style="width: 90%; max-width: 1100px">
            <input type="button" id="AddMailing" value="Add Mailing Recipient" onclick="AddCertificateMailing()" />
        </div>
    </div>
</body>
</html>
