@model bool 
@if (Model)
{
<ul class="sf-menu">
      <li>
          <a href="@Url.Action("ProcessStatus","ProcessStatus")">Rating Process Status</a>
     </li>
     <li>
          <a href="@Url.Action("Title","Submition")">Submit a Motion Picture</a>
     </li>
     <li>
        <a href="#">My Info </a>
        <ul>
            <li class="sf-menu-current"><a href="@Url.Action("MyProfile","Account")">Profile</a></li>
            <li class="sf-menu-current"><a href="@Url.Action("ChangePassword","Account")">Change Password</a></li>
        </ul>
    </li>
</ul>
}