<ul class="sf-menu">
    <li>
        <a href="#">My Info </a>
        <ul>
            <li class="sf-menu-current"><a href="@Url.Action("MyProfile","Account")">Profile</a></li>
            <li class="sf-menu-current"><a href="#">Change Password</a></li>
        </ul>
    </li>
</ul>
