@using ViewModels;
@model WorkFlowViewModel

@{
   
    
    var steps = new[] { 
        new { StepId = "Title", Label = "Picture Info", URL = Url.Action("Title", "Submition",new {filmId=Model.FilmSubmitionId }) },
        new { StepId = "Participants", Label = "Participants", URL = Url.Action("Participants", "Participants")},
        new { StepId = "Contacts", Label = "Right Holders", URL = Url.Action("GetMailingList", "Contacts",new {filmId=Model.FilmSubmitionId })},
        new { StepId = "Screener", Label = "Screener", URL = Url.Action("Screener", "Screener",new {filmId=Model.FilmSubmitionId })},
        new { StepId = "Company", Label = "Company/Contacts", URL = Url.Action("Companies", "Company",new {filmId=Model.FilmSubmitionId })},
        new { StepId = "Submit", Label = "Submit Picture", URL = Url.Action("SubmitPicture", "SubmitPicture")}
    };

    if (Model.FilmTitle != null)
    {
    @:<div>Title: @Model.FilmTitle</div>
       for (int i = 0; i < steps.Length; i++)
       {
           if (steps[i].StepId != Model.StepId)
           { 
    <div class="leftFloat labelRounded cursorPointer" style="display: inline"  onclick="GoToNextPage('@steps[i].URL')"><span>@steps[i].Label</span></div>
           }
           else
           {
    <div class="leftFloat labelRounded" style="display: inline; background-color: lightblue"><span>@steps[i].Label</span></div>
           }

           if (i < steps.Length - 1)
           {
    <div class="leftFloat" style="width: 20px; vertical-align: middle">
        <div style="border: 1px solid #7B99B7; border-top: hidden; border-left: hidden; border-right: hidden; height: 0.95em;">&nbsp;</div>
    </div>
           }

       }
    }
    <div class="clear"></div>
}

