@{
    ViewBag.PageHeader = "CARA Online Application - Change Password";
}

<header>
    <style>
        .label
        {
            width: 150px;
            float: left;
            text-align: right;
            padding-right: 10px;
        }
    </style>
    <script src="~/Scripts/Validation.js"></script>
    <script>
        function ChangePassword() {
            var oldPassword = $('#OldPassword').val().trim();
            var newPassword = $('#NewPassword').val().trim();
            var confirmPassword = $('#ConfirmPassword').val().trim();
            if (oldPassword == '' || newPassword == '' || confirmPassword == '') {
                DisplayErrors('Please fill all fields.', 'Error');
                return;
            }

            var error = ValidatePassword(newPassword, confirmPassword);
            /*
            if (error != '') {
                 DisplayErrors(error, 'Error');
                 return;
             }
             */
            document.forms[0].submit();

        }

          @{ if (ViewBag.Message != null)
             { 
        @:$.growlUI('', '@ViewBag.Message');
                                }
        }

    </script>
</header>
@{if (ViewBag.ErrorMessage != null)
  {
    <div class="clear validation-summary-errors">@ViewBag.ErrorMessage</div>       
  }
}
<form method="post" action="@Url.Action("ChangePassword")">
    <fieldset>
        <legend>Change  Password:</legend>
        <div class="italic" style="margin-bottom: 10px;">Password must contain at least 1 character in Upper Case, 1 character in Lower Case, 1 Number, and 1 Special Character.<br />
            Minimum length - 8 characters.</div>
        <div style="margin-bottom: 10px;">
            <div class="label">Old Password:</div>
            <input type="password" name="OldPassword" id="OldPassword" class="shortField" />
        </div>
        <div class="clear" style="margin-bottom: 10px;">
            <div class="label">New Password:</div>
            <input type="password" name="NewPassword" id="NewPassword" class="shortField" />
        </div>
        <div style="margin-bottom: 10px;">
            <div class="clear label">Confirm Password:</div>
            <input type="password" id="ConfirmPassword" class="shortField" />
        </div>
        <div style="margin-bottom: 10px;">
            <div class="clear label">&nbsp;</div>
            <input type="button" value="Submit" onclick="ChangePassword()" />
        </div>
    </fieldset>
</form>
