@using ViewModels
@model ForgotPasswordViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CARA Online Application</title>
</head>
<body>
    @{ if (!Model.Message.IsEmpty())
       {
        <div class="validation-summary-errors" style="margin-bottom:10px">@Model.Message</div>
        <div class="clear"></div>
       }
      
    }

    @{ if (!Model.NotificationWasSent)
       {
        <form action="@Url.Action("ForgotPassword")" method="post">
            Please enter your e-mail:
       @Html.TextBoxFor(m => m.Email, new {@maxlenght=100, @style="width:250px" })
            <input type="submit" value="Submit" />
        </form>
       }
       else
       {
           <div>
               E-mail with link to reset password was sent to @Model.Email
           </div>

       }
    }
</body>
</html>
