@model string
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
       Request to confirm your e-mail address was sent to @Model
       <br />
      
    </div>
</body>
</html>
