<!DOCTYPE html>
@{ViewBag.PageHeader = "CARA Online Application - Request to Reset Password";}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CARA Online Application</title>
</head>
<body>
   <div class="bold" style="margin-bottom:10px;">Your Password has been reset. Please login to continue.</div>
   <div class="clear"><input type="button" value="Login" onclick="document.location.href='@Url.Action("Logon")'"/></div>
</body>
</html>
