@model string
<header>
    <script src="~/Scripts/Validation.js"></script>
    <script>
        function ResetPassword()
        {
            var pwd = $('#Password').val().trim();
           
            if (pwd == '')
                return;

            var error = ValidatePassword(pwd, $('#ConfirmPassword').val().trim());

            if (error != '') {
                DisplayErrors(error, 'Error');
                return;
            }
            
            document.forms[0].submit();
        }
    </script>
</header>

@{ViewBag.PageHeader = "CARA Online Application - Request to Reset Password";}

<form method="post" action="@Url.Action("ResetPasswordSubmit")">
    @Html.Hidden("Code", Model)

    
    <fieldset>
        <legend>Reset Password</legend>
        <div class="italic" style="margin-bottom: 10px;">Password must contain at least 1 character in Upper Case, 1 character in Lower Case, 1 Number and 1 Special Character.<br />Minimum length - 6 characters.</div>
        <table>
            <tr>
                <td>New Password:</td>
                <td>@Html.Password("Password", "", new { @style = "width: 200px", @maxlength = 24 })</td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td>@Html.Password("ConfirmPassword", "", new { @style = "width: 200px" })</td>
            </tr>
        </table>
        <input type="Button" value="Submit"  onclick="ResetPassword()"/>

    </fieldset>
</form>
