<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Utility.EmailSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Utility.EmailSettings>
            <setting name="emailServer" serializeAs="String">
                <value>lamail.mpaa.org</value>
            </setting>
            <setting name="emailServerPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>r@t1n3$</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>cara@mpaa.org</value>
            </setting>
        </Utility.EmailSettings>
    </applicationSettings>
</configuration>